<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rmatch application | Respuesta</title>
    <link rel="stylesheet" href="//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
</head>

<div class="callout large">
<div class="row column text-center">
  <h1 style="color:<%= @parameters[3] %>;">Políticamente, te identificas mejor con <%= @parameters[0] %></h1>
  <p class="lead">Ahora puedes volver a tomar la encuesta o visitar la página del candidato.</p>
  <a href="/" class="button large">Volver a tomar</a>
  <a href="<%= @parameters[4] %>" class="button large hollow">Visitar página</a>
</div>
</div>

<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src=<%= @parameters[2] %>>
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2><%= @parameters[0] %></h2>
    <p><%= @parameters[5] %></p>
  </div>
</div>


<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>